# Make vim the default editor
export EDITOR="emacs";

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:history";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# For that matter, don't ever clear the screen
export LESS="-X";

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto";

# Function to skip duplicate non-empty input lines (without changing line order)
function dedup_input () {
  # if line ($0) exists as a key in associative array l[$0], then we've seen it, so skip print.
  awk '/./ { if (l[$0]) next; else { l[$0]=1 ; print $0 } }'
}

# Homebrew stuff
# 
export PATH="$PATH:/usr/local/bin:/usr/local/sbin"

# AWS inventory cache is a reasonable hostfile
export HOSTFILE=~/.bottlenose_hosts

# GOLANG
export GOPATH=~/src/go
export GOROOT=/usr/local/Cellar/go/1.7.4_2/libexec

export PATH="$PATH:${GOPATH}/bin:${GOROOT}/libexec"

# final cleanup
export PATH=$( printf "$PATH" | tr : '\n' | dedup_input | tr '\n' : )
